* {
  border: 0;
  padding: 0;
  margin: 0;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  width: 100%;
  height: 400vh;
}

h2 {
  font-size: 60px;
  background-color: white;
  padding: 8px 24px;
  border-radius: 16px;
}

div:nth-child(1) {
  background-image: url('images/happycake.jpeg');
  background-size: cover;
}

div:nth-child(2) {
  background-color: maroon;
}

div:nth-child(3) {
  background-image: url('images/teacake.jpeg');
  background-size: cover;
  background-attachment: fixed;
}

div:nth-child(4) {
  background-color: aquamarine;
}